@@include('./html-head.html')

        <!-- Status bar overlay for full screen mode (PhoneGap) -->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>
        <!-- Left panel with reveal effect-->
        <div class="panel panel-left panel-reveal">
            <div class="content-block">
                <p>Left panel content goes here</p>
            </div>
        </div>
        

        <!-- Views -->
        <div class="views">
            <!-- Your main view, should have "view-main" class -->
            <div class="view view-main">
            @@include('./hp-innerbar-open.html')

                        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                        <div class="center sliding">Awesome App</div>
                        <div class="right">
                            <!-- 
                              Right link contains only icon - additional "icon-only" class
                              Additional "open-panel" class tells app to open panel when we click on this link
                            -->
                            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                        </div>
                        
            @@include('./hp-innerbar-close.html')

            @@if (os === 'android') {
                @@include('../includes/toolbar.html')
            }

            @@include('./hp-page-open.html')
                        <div class="content-block">
                            <p>Page content goes here</p>
                            <!-- Link to another page -->
                            <a href="about.html">About</a>
                        </div>
                        
            @@include('./hp-page-close.html')

            @@if (os === 'ios') {
                @@include('../includes/toolbar.html')
            }


            </div>
        </div>
        
@@include('./html-footer.html')